<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$StackOverflowTest1</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://stackoverflowtest1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6b2adea0-dda2-459a-9d45-50de3615fc22/resourcegroups/PoC/providers/Microsoft.Web/sites/StackOverflowTest1</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://stackoverflowtest1.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>netcoreapp2.1</TargetFramework>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>